$font-family: 'Manrope', sans-serif;
$font-family: 'Open Sans', sans-serif;
.container{
    .logo
    {
        width: 120px;
    }
    .log-in
    {
        width: 110px;
    }
    .top-left
    {
        margin-left: 100px;
        margin-top: -70px;
    }
    .bottom-left
    {
        margin-left: 100px;
        margin-top: 40px;
    }
    .center
    {
        margin-top: -70px;
    }
    .top-right
    {
        margin-top: -70px;
    }
    .bottom-right
    {
        margin-top: 40px;
    }
    
}